<main>
  <h2>Add a Game</h2>
  <form action="/games" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="image_url">Image url: </label>
    <input type="text" name="image_url">
    <input type="submit" value="Save Game">
  </form>
</main>
